<div>
    <!--<div id="menu">
        <button class="btn btn-default" alignment="right" (click)="goToProducts()">
            <i class="fa fa-snowflake-o"></i> Productos </button>

        <button class="btn btn-default" id="botBasket" (click)="goToBasket()">
            <i class="fa fa-shopping-cart "></i> Carrito ({{state.shopcart.cnt}})
            {{state.shopcart.sum}}€</button>

        <button class="btn btn-default" (click)="goToHistorial()">
            <i class="fa fa-list"></i> Historial </button>

        <button class="btn btn-default">
        <i class="fa fa-plus"></i> Añadir Producto </button>
    </div>-->
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-default" ngbDropdownToggle>Admin</button>
        <div ngbDropdownMenu id="drop">
            <button class="btn btn-default w-100">
                <i class="fa fa-plus "></i> Productos </button>
            <!--   <button class="btn btn-default w-100" (click)="goToRemove()">
                <i class="fa fa-plus"></i> Borrar Producto </button>-->
            <button class="btn btn-default w-100" (click)="goToAddCat()">
                <i class="fa fa-plus"></i> Categorias </button>
        </div>
    </div>
    <button class="btn btn-default" (click)="open(content)">Nuevo Articulo</button>

    <button class="btn btn-primary float-right" (click)="logOut()">Log out</button>
    <button class="btn btn-primary-outline float-right" [disabled]="true">Logeado como
        {{state.auth.user.email}}</button>
</div>
<br>
<div>
    <br>
    <select class="btn btn-default" id="cat" (change)="filter()">
        <option *ngFor="let categoria of categorias" value="{{categoria.id}}">
            {{categoria.Name}}
        </option>
    </select>

    <select class="float-right" (change)="changeSize()" id="epp">
        <option *ngFor="let el of elPerPage" value="{{el}}">{{el}}</option>
    </select>
    <label class="float-right">Elementos por página : </label>
    <br>
    <br>
</div>
<br>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Artículo</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Categoría</th>
                <th class="text-center" colspan="2">Url</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tr *ngFor="let list of lista | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td class="text-center">{{list.id}}</td>
            <td>{{list.name}}</td>
            <td class="text-center">{{list.price}}</td>
            <td class="text-center">{{list.quantity}}</td>
            <td class="text-center">{{getCategoria(list)}}</td>
            <td class="text-center" colspan="2"><a href="{{list.Url}}">{{list.Url}}</a></td>
            <td class="text-center">
                <button class="btn btn-default" (click)="open(content,list.id)">Editar</button>
                <button class="btn btn-default" (click)="editImages(images,list)">Subir/Borrar Fotos</button>
                <button class="btn btn-default" (click)="delete(list.id)">Borrar</button>
            </td>
        </tr>
    </table>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="size"></ngb-pagination>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Articulo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="divtabla">
            <table [formGroup]="form" class="table">
                <tr>
                    <th class="text-center"><label>Nombre</label></th>
                    <td><input type="text" formControlName="name"><input type="hidden" formControlName="id"></td>
                </tr>
                <tr>
                    <th class="text-center"><label>Precio</label></th>
                    <td>
                        <input type="number" formControlName="price">
                    </td>
                </tr>
                <tr>
                    <th class="text-center"><label>Stock</label></th>
                    <td>
                        <input type="number" formControlName="quantity">
                    </td>
                </tr>
                <tr>
                    <th class="text-center"><label>Categoria</label></th>
                    <td>
                        <select formControlName="IdCategoria">
                            <option *ngFor="let categoria of categor" value="{{categoria.id}}">
                                {{categoria.Name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="text-center">URL</th>
                    <td colspan="2"><input type="text" class="w-75" formControlName="Url"></td>
                </tr>
                <tr>
                    <td><button class="btn" (click)="onSubmit(form.value.id)" [disabled]="!form.valid">Submit</button>
                </tr>
            </table>
        </div>
    </div>
</ng-template>

<!-- TEMPLATE IMAGENES -->
<ng-template #images let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Imagenes</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table>
            <tr>
                <td>
                    <input type="file" (change)="onFileChanged($event)">
                </td>
                <td>
                    <button class="btn btn-default" (click)="uploadStrapi(idImg)">Upload</button>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let file of selectedFile">{{file.name}}</li>
                    </ul>
                </td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <td>ID</td>
                <td>Imagen</td>
                <td>Acciones</td>
            </tr>
            <tr *ngFor="let image of imgList">
                <td>
                    {{image.id}}
                </td>
                <td>
                    <img [src]="'http://localhost:1337'+image.url" width="50%">
                </td>
                <td>
                    <button (click)="borrarImagen(image.id)">Borrar</button>
                </td>
            </tr>
        </table>
    </div>
</ng-template>