<div>
    <button class="btn btn-default" (click)="goToProducts()" alignment="right">
        <i class="fa fa-snowflake-o"></i> Productos </button>
    <button class="btn btn-default" id="botBasket" (click)="goToBasket()">
        <i class="fa fa-shopping-cart "></i> Carrito ({{state.shopcart.cnt}}) {{state.shopcart.sum}}€</button>


    <button class="btn btn-default">
        <i class="fa fa-list"></i> Historial </button>
    <button class="btn btn-primary float-right" (click)="logOut()">Log out</button>
    <button class="btn btn-primary-outline float-right" [disabled]="true">Logeado como
        {{user}}</button>
</div>
<div>
    <br>
    <br>
</div>
<div id="historial">
    <table class="table table-inverse">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Coste</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let compra of compras">
                <td>{{compra.id}}</td>
                <td>{{compra.fechaCompra}}</td>
                <td>{{compra.coste}}</td>
                <td>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="{{compra.id}}" ngbDropdownToggle>Ver Más</button>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem>
                                <pre>{{compra.Descripcion}}</pre></button>
                        </div>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>