<div>
    <div id="menu">
        <button class="btn btn-default" (click)="goToProducts()" alignment="right">
            <i class="fa fa-snowflake-o"></i> Productos </button>
        <button class="btn btn-default" id="botBasket" (click)="goToBasket()">
            <i class="fa fa-shopping-cart "></i> Carrito ({{state.shopcart.cnt}}) {{state.shopcart.sum}}€</button>


        <button class="btn btn-default">
            <i class="fa fa-list"></i> Historial </button>
    </div>
    <div ngbDropdown class="d-inline-block" id="btn-añadir">
        <button class="btn btn-default" ngbDropdownToggle>Admin</button>
        <div ngbDropdownMenu id="drop">
            <button class="btn btn-default w-100" (click)="goToAdd()">
                <i class="fa fa-plus "></i> Añadir Producto </button>
            <button class="btn btn-default w-100" (click)="goToRemove()">
                <i class="fa fa-plus"></i> Borrar Producto </button>
            <button class="btn btn-default w-100" (click)="goToAddCat()">
                <i class="fa fa-plus"></i> Añadir Categoria </button>
        </div>
    </div>

    <button class="btn btn-primary float-right" (click)="logOut()">Log out</button>
    <button class="btn btn-primary-outline float-right" [disabled]="true">Logeado como
        {{user}}</button>
</div>
<div>
    <br>
    <select class="float-right" (change)="changeSize()" id="epp">
        <option *ngFor="let el of elPerPage" value="{{el}}">{{el}}</option>
    </select>
    <label class="float-right">Elementos por página : </label>
    <br>
</div>
<div id="historial">
    <table class="table table-inverse">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Coste</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let compra of compras | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td>{{compra.id}}</td>
                <td>{{compra.fechaCompra}}</td>
                <td>{{compra.coste}}</td>
                <td>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="{{compra.id}}" ngbDropdownToggle>Ver Más</button>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem>
                                <pre>{{compra.Descripcion}}</pre></button>
                        </div>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="size"></ngb-pagination>
</div>