<div>
    <div id="menu">
        <button class="btn btn-default" alignment="right" (click)="goToProducts()">
            <i class="fa fa-snowflake-o"></i> Productos </button>

        <button class="btn btn-default" id="botBasket" (click)="goToBasket()">
            <i class="fa fa-shopping-cart "></i> Carrito ({{state.shopcart.cnt}})
            {{state.shopcart.sum}}€</button>

        <button class="btn btn-default" (click)="goToHistorial()">
            <i class="fa fa-list"></i> Historial </button>
    </div>
    <div ngbDropdown class="d-inline-block" id="btn-añadir" style="visibility: hidden">
        <button class="btn btn-default" ngbDropdownToggle>Admin</button>
        <div ngbDropdownMenu id="drop">
            <button class="btn btn-default w-100" (click)="goToAdd()">
                <i class="fa fa-plus "></i> Añadir Producto </button>
            <button class="btn btn-default w-100" (click)="goToRemove()">
                <i class="fa fa-plus"></i> Borrar Producto </button>
            <button class="btn btn-default w-100" (click)="goToAddCat()">
                <i class="fa fa-plus"></i> Añadir Categoria </button>
        </div>
    </div>

    <button class="btn btn-primary float-right" (click)="logOut()">Log out</button>
    <button class="btn btn-primary-outline float-right" [disabled]="true">Logeado como
        {{user}}</button>
</div>

<div>
    <br>
    <br>
    <br>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Artículo</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Categoria</th>
            </tr>
        </thead>
        <tr>
            <td class="text-center">{{articulo.id}}</td>
            <td>{{articulo.name}}</td>
            <td class="text-center">{{articulo.price}}</td>
            <td class="text-center">{{articulo.quantity}}</td>
            <td class="text-center">{{getCategoria(articulo)}}</td>

        </tr>
    </table>
</div>


<!--<form>
    <div class="file-field md-form">
        <div mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>
            <span>Choose file</span>
            <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
        </div>
    </div>
    <button mdbBtn color="primary" (click)="startUpload()">Start uploading</button>
</form>-->

<ngb-carousel *ngIf="articulo.Images">
    <ng-template ngbSlide *ngFor="let img of articulo.Images">
        <div class="picsum-img-wrapper">
            <img [src]="img.url" width="100%" alt="Random first slide">
        </div>
        <!--<div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>-->
    </ng-template>
</ngb-carousel>