<div>
    <div id="menu">
        <button class="btn btn-default" alignment="right" (click)="goToProducts()">
            <i class="fa fa-snowflake-o"></i> Productos </button>

        <button class="btn btn-default" id="botBasket" (click)="goToBasket()">
            <i class="fa fa-shopping-cart "></i> Carrito ({{state.shopcart.cnt}})
            {{state.shopcart.sum}}€</button>

        <button class="btn btn-default" (click)="goToHistorial()">
            <i class="fa fa-list"></i> Historial </button>
    </div>
    <div ngbDropdown class="d-inline-block" id="btn-añadir" style="visibility: hidden">

        <button class="btn btn-default" ngbDropdownToggle>Admin</button>

        <div ngbDropdownMenu id="drop">
            <button class="btn btn-default w-100" (click)="goToAdd()">
                <i class="fa fa-plus "></i> Productos </button>

            <button class="btn btn-default w-100" (click)="goToAddCat()">
                <i class="fa fa-plus"></i> Categorias </button>
        </div>
    </div>
    <button class="btn btn-primary float-right" (click)="logOut()">Log out</button>
    <button class="btn btn-primary-outline float-right" [disabled]="true">Logeado como
        {{user}}</button>
</div>
<div>
    <br>
    <br>
    <br>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Artículo</th>
                <th class="text-center">Categoria</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Stock</th>
            </tr>
        </thead>
        <tr *ngFor="let art of articulo">
            <td class="text-center">{{art.id}}</td>
            <td class="text-center">{{art.name}}</td>
            <td class="text-center">{{getCategoria(art)}}</td>
            <td class="text-center">{{art.price}}</td>
            <td class="text-center">{{art.quantity}}</td>
        </tr>
    </table>
</div>

<table class="table">
    <tr>
        <td>
            <ngb-carousel *ngIf="imgList">
                <ng-template ngbSlide *ngFor="let img of imgList">
                    <div class="picsum-img-wrapper">
                        <img [src]="'http://localhost:1337'+img.url" width="100%">
                    </div>
                </ng-template>
            </ngb-carousel>
        </td>
        <td *ngFor="let art of articulo">
            <product-booking [product]="art" (emit-events)="setShopCart($event)">
            </product-booking>

        </td>
    </tr>
</table>