<div>
    <button class="btn btn-default" id="botBasket" (click)="goToBasket()">
        <i class="fa fa-shopping-cart "></i> Basket </button>

    <button class="btn btn-default" (click)="goToHistorial()">
        <i class="fa fa-list"></i> Historial </button>

    <button class="btn btn-primary float-right" (click)="logOut()">Log out</button>
    <button class="btn btn-primary-outline float-right" [disabled]="true" (click)="logOut()">Logeado como
        {{user}}</button>
</div>
<div>
    <br>
    <br>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Artículo</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Shopping Cart</th>
            </tr>
        </thead>
        <tr *ngFor="let list of lista">
            <td>{{list.id}}</td>
            <td>{{list.name}}</td>
            <td>{{list.price}}</td>
            <td>{{list.quantity}}</td>
            <td class="text-center">
                <product-booking [product]="list" (emit-events)="setShopCart($event)">
                </product-booking>
            </td>
        </tr>
    </table>
</div>