<div>

    <button class="btn btn-default" alignment="right">
        <i class="fa fa-snowflake-o"></i> Productos </button>

    <button class="btn btn-default" id="botBasket" (click)="goToBasket()">
        <i class="fa fa-shopping-cart "></i> Carrito ({{state.shopcart.cnt}})
        {{state.shopcart.sum}}€</button>

    <button class="btn btn-default" (click)="goToHistorial()">
        <i class="fa fa-list"></i> Historial </button>

    <button class="btn btn-primary float-right" (click)="logOut()">Log out</button>
    <button class="btn btn-primary-outline float-right" [disabled]="true">Logeado como
        {{user}}</button>
</div>
<div>
    <br>
    <select class="btn btn-default" id="cat" (change)="filter()">
        <option *ngFor="let categoria of categorias" value="{{categoria.id}}">
            {{categoria.Name}}
        </option>
    </select>
    <!--<button class="btn btn-default" (click)="filter()">Filter</button>-->
    <br>
    <br>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Artículo</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Shopping Cart</th>
            </tr>
        </thead>
        <tr *ngFor="let list of lista | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td class="text-center">{{list.id}}</td>
            <td>{{list.name}}</td>
            <td class="text-center">{{list.price}}</td>
            <td class="text-center">{{list.quantity}}</td>
            <td class="text-center">
                <product-booking [product]="list" (emit-events)="setShopCart($event)">
                </product-booking>
            </td>
        </tr>
    </table>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="size"></ngb-pagination>
</div>